<div class="chips-container" (click)="inputBox.focus()">

  <div class="chip" *ngFor="let tag of selectedTags()" [style.border-color]="tag.color">
    <span class="color-dot" [style.background-color]="tag.color"></span>
    {{ tag.name }}
    <span class="remove-btn" (click)="removeTag(tag.id)">×</span>
  </div>

  <input
    #inputBox
    type="text"
    class="ghost-input"
    placeholder="Etiquetas..."
    (input)="onInput($event)"
    (keydown)="handleKeydown($event)"
    (blur)="onTouched()"
  >

  <div class="suggestions-dropdown" *ngIf="showDropdown() && inputValue()">
    <div
      class="suggestion-item"
      *ngFor="let tag of filteredTags"
      (click)="selectTag(tag)">
      <span class="dot" [style.background]="tag.color"></span>
      {{ tag.name }}
    </div>

    <div class="suggestion-item create" *ngIf="filteredTags.length === 0" (click)="createTag(inputValue())">
      <span class="material-symbols-rounded icon">add</span>
      Crear "{{ inputValue() }}"
    </div>
  </div>

</div>
